<%= form_for @segment_bit do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :segment_id %><br />
    <%= f.text_field :segment_id %>
  </p>
  <p>
    <%= f.label :bit_id %><br />
    <%= f.number_field :bit_id %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </p>
  <p><%= f.submit %></p>
<% end %>
