
<div class="clearfix">
   <%= f.label :episode_id, t("activerecord.attributes.participant.episode_id", :default => "Episode"), :class => :label %>
  <div class="input">
    <%= f.number_field :episode_id, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :user_id, t("activerecord.attributes.participant.user_id", :default => "User"), :class => :label %>
  <div class="input">
    <%= f.number_field :user_id, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :role, t("activerecord.attributes.participant.role", :default => "Role"), :class => :label %>
  <div class="input">
    <%= f.text_field :role, :class => 'text_field' %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", participants_path %>
</div>
