<h1>Participants</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.participant.episode_id", :default => t("activerecord.labels.episode_id", :default => "Episode_id")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @participants.each do |participant| -%>
   <tr>
    <td><%= participant.id %></td>
        <td><%= link_to participant.episode_id, participant_path(participant) %>
    </td>
        <td><%= participant.created_at %></td>
    <td>
      <%= link_to "Show", participant_path(participant) %>
      <%= link_to "Edit", edit_participant_path(participant) %>
      <%= link_to "Destroy", participant_path(participant), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_participant_path, :class => 'btn btn-primary' %>
