<% title "Participants" %>

<table>
  <tr>
    <th>Episode</th>
    <th>User</th>
    <th>Role</th>
  </tr>
  <% for participant in @participants %>
    <tr>
      <td><%= participant.episode_id %></td>
      <td><%= participant.user_id %></td>
      <td><%= participant.role %></td>
      <td><%= link_to "Show", participant %></td>
      <td><%= link_to "Edit", edit_participant_path(participant) %></td>
      <td><%= link_to "Destroy", participant, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Participant", new_participant_path %></p>
