
<label class="label"><%= t("activerecord.attributes.participant.episode_id", :default => t("activerecord.labels.episode_id", :default => "Episode")) %>:</label>
<p><%= @participant.episode_id %></p>

<label class="label"><%= t("activerecord.attributes.participant.user_id", :default => t("activerecord.labels.user_id", :default => "User")) %>:</label>
<p><%= @participant.user_id %></p>

<label class="label"><%= t("activerecord.attributes.participant.role", :default => t("activerecord.labels.role", :default => "Role")) %>:</label>
<p><%= @participant.role %></p>

<div class="form-actions">
<%= link_to "Back", participants_path, :class => 'btn'  %>
<%= link_to "Edit", edit_participant_path(@participant), :class => 'btn' %>
<%= link_to "Delete", participant_path(@participant), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
