<!--h3>Check this out...</h3-->
<ul class="nav nav-list">
  <!--li class="nav-header">Partners</li-->
    <li><%= link_to "KUSP Santa Cruz, CA", "http://www.kusp.org/"  %><br>Broadcast: Saturdays @ 10am &amp; Sundays @ 7am</li>
    <li class="nav-header">Podcast</li>
    <li><%= link_to "RSS File", "http://geekspeak.org/episodes/rss.xml"  %></li>
    <li><%= link_to "GeekSpeak on iTunes", "https://itunes.apple.com/us/podcast/geekspeak/id74173088"  %></li>
    <li><%= link_to "GeekSpeak on Overcast", "https://overcast.fm/itunes74173088/geekspeak" %></li>

  <!--li class="nav-header">Sponsor</li>
    <li>
		<ul class="thumbnails">
			<li class="span2">
				<%= link_to image_tag("/images/sponsors/imagequest_175x175.jpg", :title => "ImageQuest - Our Sponsor", :class=>'thumbnail') , "http://itunes.apple.com/us/app/imagequest/id354602525?mt=8"  %>
			</li>
		</ul>
	</li-->
	<li class="nav-header">Other Programs on KUSP</li>
	<li><%= link_to "7the Avenue Project", "http://7thavenueproject.com/" %></li>
	<li><%= link_to "Ask Dr. Dawn", "http://www.askdrdawn.com/" %></li>
	<li class="nav-header">GeekSpeak on Social Networks</li>
	<li><%= link_to "Facebook KUSPGeeks", "https://www.facebook.com/KUSPGeeks" %></li>
	<li><%= link_to "Twitter @kuspGeeks", "https://twitter.com/kuspgeeks" %></li>
	<li><%= link_to "Google+", "https://plus.google.com/100187745492111115933", :rel => "publisher" %></li>
</ul>