<ul class="menu  vertical">
  <!--li class="nav-header">Partners</li-->
    <li><img src="/assets/GeekSpeak_logo_200w.png"></li>
	<li class="nav-header">Formerly on KUSP with...</li>
	<li><%= link_to "7the Avenue Project", "http://7thavenueproject.com/" %></li>
	<li><%= link_to "Ask Dr. Dawn", "http://www.askdrdawn.com/" %></li>
	<li class="nav-header">GeekSpeak on Social Networks</li>
	<li><%= link_to "Facebook/GeekSpeakPodcast", "https://www.facebook.com/GeekSpeakPodcast" %></li>
    <li><%= link_to "Twitter @GeekSpeakTweets", "https://twitter.com/GeekSpeakTweets" %></li>
	<li><%= link_to "Google+", "https://plus.google.com/100187745492111115933", :rel => "publisher" %></li>
</ul>
