<!--h3>Check this out...</h3-->
<ul class="nav nav-list">
  <!--li class="nav-header">Partners</li-->
    <li><%= link_to "KUSP - broadcast Saturdays 10am PST", "http://www.kusp.org/"  %></li>
    <li><%= link_to "NPR - GeekSpeak Podcast", "http://www.npr.org/rss/podcast/podcast_detail.php?siteId=7494293"  %></li>
  <!--li class="nav-header">Sponsor</li>
    <li>
		<ul class="thumbnails">
			<li class="span2">
				<%= link_to image_tag("/images/sponsors/imagequest_175x175.jpg", :title => "ImageQuest - Our Sponsor", :class=>'thumbnail') , "http://itunes.apple.com/us/app/imagequest/id354602525?mt=8"  %>
			</li>
		</ul>
	</li-->
	<li class="nav-header">Other Programs on KUSP</li>
	<li><%= link_to "7the Avenue Project", "http://7thavenueproject.com/" %></li>
	<li><%= link_to "Ask Dr. Dawn", "http://www.askdrdawn.com/" %></li>
	<li class="nav-header">GeekSpeak on Social Networks</li>
	<li><%= link_to "Facebook KUSPGeeks", "https://www.facebook.com/KUSPGeeks" %></li>
	<li><%= link_to "Twitter @kuspGeeks", "https://twitter.com/kuspgeeks" %></li>
	<li><%= link_to "Google+", "https://plus.google.com/100187745492111115933", :rel => "publisher" %></li>
  <li><div class="g-page" data-width="273" data-href="//plus.google.com/100187745492111115933" data-layout="landscape" data-showtagline="false" data-rel="publisher"></div>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script></li>
</ul>