<%= content_tag :div, :class => "episode-block column", :data => {:url => "/episodes/#{episode.to_param}"} do %>
    <div class="season-episode"><%=h "#{episode.airdate.strftime("%Y-%m-%d")}" %></div>
    <div class="abstractimage">
        <% if episode.teaser.exists? %>
            <%= link_to image_tag(episode.teaser.url(:medium)), "/episodes/#{episode.to_param}" %>
        <% else %>
            <%= link_to image_tag("/assets/GeekSpeak_logo_200w.png"), "/episodes/#{episode.to_param}", class:"filler-image" %>
        <% end %>
    </div>
    <h4><%= link_to "#{episode.title}", "/episodes/#{episode.to_param}" %></h4>
    <div class="abstract"><%= textilize(episode.abstract).html_safe %></div>
<% end %>
