<%= form_for @episode,  :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :airdate %><br />
    <%= f.date_select :airdate , start_year: 2000 %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :abstract %><br />
    <%= f.text_area :abstract %>
  </p>

  <p><%= f.submit %></p>
<% end %>
