<%= form_for @episode,  :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :promo %><br />
    <%= f.text_field :promo %>
  </p>
  <p>
    <%= f.label :abstract %><br />
    <%= f.text_area :abstract %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :showtime %><br />
    <%= f.datetime_select :showtime %>
  </p>
 	
  <p>
    <%= f.label :teaser %><br />
   <%= f.file_field :teaser %>
  </p>

  <p><%= f.submit %></p>
<% end %>
