<% title "Edit Episode" %>

<%= form_for @episode,  :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <div class="airdate">
    <%= f.label :airdate %>Don't change this unless you mean to.<br />
    <%= f.date_select :airdate, start_year: 2000 %>
  </div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :abstract %>
    <%= f.text_area :abstract %>
    <%= f.label :status %>
    <%= f.select :status, status_list %>
    <p class="help-text">'Live' means public.</p>

  <div class="publishdate">
    <%= f.label :publication_time %>
    <%= f.datetime_select :publication_time, start_year: 2000 %>
    <p class="help-text">When to Publish the Podcast</p>
  </div>
    <%= f.label :guid_override %>
    <%= f.text_field :guid_override %>
    <p class="help-text">(to sync NPR RSS feed - just leave this blank)</p>
    
    <%= f.label :teaser %>
    <%= f.file_field :teaser %>
    <%= f.label :content %>
    <%= f.text_area :content %>

  <p><%= f.submit %></p>
<% end %>


<p>
  <%= link_to "Show", @episode %> |
  <%= link_to "View All", episodes_path %>
</p>
