<%
if params[:action] == 'year_archive'
	 title "#{params[:year]}"
elsif params[:action] == 'month_archive'
	 title "#{Date::MONTHNAMES[params[:month].to_i]} of #{params[:year]}"
end 
%>
<% title  " GeekSpeak Episodes" %>
<div class="row small-up-1 medium-up-2 large-up-4">
<% for episode in @episodes %>
	<%= render :partial => "episodes/episode", :object => episode %>
<% end %>
</div>

<% content_for :sidebar do %>
	<ul class="menu vertical">
	  <li class="nav-header">Episode Archive</li>
		<%= nav_link "2016", "/episodes/2016/"  %>
		<%= nav_link "2015", "/episodes/2015/"  %>
		<%= nav_link "2014", "/episodes/2014/"  %>
		<%= nav_link "2013", "/episodes/2013/"  %>
		<%= nav_link "2012", "/episodes/2012/"  %>
		<%= nav_link "2011", "/episodes/2011/"  %>
		<%= nav_link "2010", "/episodes/2010/"  %>
		<%= nav_link "2009", "/episodes/2009/"  %>
		<%= nav_link "2008", "/episodes/2008/"  %>
		<%= nav_link "2007", "/episodes/2007/"  %>
		<%= nav_link "2006", "/episodes/2006/"  %>
		<%= nav_link "2005", "/episodes/2005/"  %>
		<%= nav_link "2004", "/episodes/2004/"  %>
		<%= nav_link "2003", "/episodes/2003/"  %>
		<%= nav_link "2002 some online", "/episodes/2002/"  %></li>
		<li>2001 offline</li>
		<li><%= link_to "2000 mostly offline", "/episodes/2000/"  %></li>
		<li>1999 offline</li>
		<li>1998 offline</li>
	</ul>
<% end %>