<%
if params[:action] == 'year_archive'
	 title "#{params[:year]}"
elsif params[:action] == 'month_archive'
	 title "#{Date::MONTHNAMES[params[:month].to_i]} of #{params[:year]}"
end 
%>
<% title  " Episodes" %>
<% for episode in @episodes %>
<div class="item clearfix">
	<%= render :partial => "episodes/episode", :object => episode %>
</div>
<% end %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
	  <li class="nav-header">Episode Archive</li>
		<li><%= link_to "2015", "/episodes/2015/"  %></li>
		<li><%= link_to "2014", "/episodes/2014/"  %></li>
		<li><%= link_to "2013", "/episodes/2013/"  %></li>
		<li><%= link_to "2012", "/episodes/2012/"  %></li>
		<li><%= link_to "2011", "/episodes/2011/"  %></li>
		<li><%= link_to "2010", "/episodes/2010/"  %></li>
		<li><%= link_to "2009", "/episodes/2009/"  %></li>
		<li><%= link_to "2008", "/episodes/2008/"  %></li>
		<li><%= link_to "2007", "/episodes/2007/"  %></li>
		<li><%= link_to "2006", "/episodes/2006/"  %></li>
		<li><%= link_to "2005", "/episodes/2005/"  %></li>
		<li><%= link_to "2004", "/episodes/2004/"  %></li>
		<li><%= link_to "2003", "/episodes/2003/"  %></li>
		<li><%= link_to "2002 some online", "/episodes/2002/"  %></li>
		<li>2001 offline</li>
		<li><%= link_to "2000 mostly offline", "/episodes/2000/"  %></li>
		<li>1999 offline</li>
		<li>1998 offline</li>
	</ul>
<% end %>