<% title "#{@episode.title} - #{@episode.airdate.strftime("%Y-%m-%d")}" %>

<%  if user_signed_in?  %>
<div class="span5 offset3"> 
	<%= link_to "Edit", edit_admin_episode_path(@episode) %> | 
	<%= link_to "Audio", episode_episode_audios_path(@episode)  %> | 
	<%= link_to "Images", episode_episode_images_path(@episode)  %>
	</div>
<% end %>
	
<h2 class="title"><%=h @episode.title %></h2>
<h3 class="airdate">GeekSpeak for <%=h @episode.airdate.strftime("%Y-%m-%d")   %></h3>

<%= content_tag(:div, image_tag(@episode.teaser.url(:small)), :class => "abstractimage") if @episode.teaser?%>


<%= textilize(@episode.abstract).html_safe  unless @episode.abstract.blank? %>

<hr>

<%= render :partial => 'segments', :locals=> {:segments => @episode.segments} if @episode.segments.length > 0 %>

<hr>

<%= textilize(@episode.content).html_safe  unless @episode.content.blank? %>


<% content_for :sidebar do %>

<% if ! @episode.episode_audios.blank? %>
<ul class="nav nav-list">
	<% for episode_audio in @episode.episode_audios %>
	  <li class="nav-header">Audio</li>
		<li><%= link_to "#{episode_audio.audio_file_name}  #{number_to_human_size(episode_audio.audio_file_size)}", episode_audio.audio.url %></li>
	<% end %>
</ul>
<% end %>
    
	<%= render :partial => 'participants',
		:locals => {:participants => @episode.participants} if @episode.participants.length > 0%>

<% if false %>
	<ul class="nav nav-list">
	  <li class="nav-header">Episode Archive</li>
		<li><%= link_to "2012", "/episodes/2012/"  %></li>
		<li><%= link_to "2011", "/episodes/2011/"  %></li>
		<li><%= link_to "2010", "/episodes/2010/"  %></li>
		<li><%= link_to "2009", "/episodes/2009/"  %></li>
		<li><%= link_to "2008", "/episodes/2008/"  %></li>
		<li><%= link_to "2007", "/episodes/2007/"  %></li>
		<li><%= link_to "2006", "/episodes/2006/"  %></li>
		<li><%= link_to "2005", "/episodes/2005/"  %></li>
		<li><%= link_to "2004", "/episodes/2004/"  %></li>
		<li><%= link_to "2003", "/episodes/2003/"  %></li>
		<li><%= link_to "2002", "/episodes/2002/"  %></li>
	</ul>
<% end %>
<% end %>