<% title "#{@episode.title}" %>
<% subtitle "GeekSpeak for #{@episode.airdate.strftime("%Y-%m-%d")}" %>

<%if @episode.episode_audios.length > 0 %>
  <% content_for :sticky do  %>
 	<audio controls>
	  <source src="<%=h @episode.episode_audios[0].audio.url%>" type="audio/mp3">
	</audio>
  <% end %>
<% end %>
<div id="episode_head">
	<div class="row season-episode">
		<!--div class="column medium-6 small-12 text-left"><%=h "#{@episode.season_name} #{@episode.episode_name}" %></div-->
		<div class="column medium-12 small-12 medium-text-right small-text-left"><%="GeekSpeak for #{@episode.airdate.strftime("%Y-%m-%d")}"%></div>
	</div>


	<h1><%= best_in_place_if user_signed_in?, @episode, :title, :data => {:lock_version => @episode.lock_version}%></h1>

	<%  if user_signed_in?  %>
		<div class="span5 offset3"> 
			<%= link_to "Edit", edit_episode_path(@episode) %> | 
			<%= link_to "Images", episode_episode_images_path(@episode)  %>
		</div>
	<% end %>

	<div class="row abstract">
		<div class="column small-12 medium-6 abstractimage">
		<%= image_tag(@episode.teaser.url(:medium)) if @episode.teaser?%>
		</div>

		<div class="column small-12 medium-6 abstractimage">
		<%= best_in_place_if user_signed_in?, @episode, :abstract, :type => :textarea,
		  :ok_button => 'Save', :cancel_button => 'Cancel', :nil => 'ADD AN ABSTRACT (click)',
		  :display_with => lambda { |v| textilize(v).html_safe }
		  %>
		</div>
	</div>
</div>

<div id="bits_episode" data-update-url="<%= sort_bits_episode_index_url %>">
<%= render :partial => 'bits/bits_episode', :locals=> {:bits_episode => @episode.bit_episodes, :display_episode => false} %>
</div>
<hr>
<%= textilize(@episode.content).html_safe unless @episode.content.blank? %>

<% content_for :sidebar do %>
	<% if not user_signed_in? %>
		<ul class="menu vertical">
	    <li><img src="/assets/GeekSpeak_logo_200w.png"></li>
		</ul>
	<% end %>
    <%= render :partial => 'audios',
			:locals => {:episode => @episode} if @episode.episode_audios.length > 0 || user_signed_in? %>
	<% if user_signed_in? %>
		<ul class="menu vertical">
		<li class="header"><%= link_to "#{content_tag("i","",:class=>"fi-plus")}".html_safe, new_bit_path, :class=>"edit" %> Geek Bits</li></ul>
		<%=  render( :partial => 'bits/bits_episode_search_form', :locals => {:bits => @bits, :episode => @episode}) %>
	<% end %>
	<%= render :partial => 'participants',
			:locals => {:participants => @episode.participants, :episode => @episode, :current_user => current_user} if @episode.participants.length > 0 || user_signed_in?%>
<% end %>