<% title "#{@episode.title}" %>
<% subtitle "GeekSpeak for #{@episode.airdate.strftime("%Y-%m-%d")}" %>


<h1><%= best_in_place_if user_signed_in?, @episode, :title, :data => {:lock_version => @episode.lock_version}%></h1>
<%= content_tag(:h3, ("GeekSpeak for #{@episode.airdate.strftime("%Y-%m-%d")}"), :class=>"subtitle") %>

<%  if user_signed_in?  %>
	<div class="span5 offset3"> 
		<%= link_to "Edit", edit_admin_episode_path(@episode) %> | 
		<%= link_to "Images", episode_episode_images_path(@episode)  %>
	</div>
<% end %>
	

<div class="abstract">
<%= content_tag(:div, image_tag(@episode.teaser.url(:small)), :class => "abstractimage") if @episode.teaser?%>

<!--%= textilize(@episode.abstract).html_safe  unless @episode.abstract.blank? %-->
<%= best_in_place_if user_signed_in?, @episode, :abstract, :type => :textarea,
  :ok_button => 'Save', :cancel_button => 'Cancel',
  :display_with => lambda { |v| textilize(v).html_safe }
  %>

</div>
<hr>
<div id="bits_episode" data-update-url="<%= sort_bits_episode_index_url %>">
<%= render :partial => 'bits/bits_episode', :locals=> {:bits_episode => @episode.bit_episodes, :display_episode => false} %>
</div>
<hr>

<%= textilize(@episode.content).html_safe  unless @episode.content.blank? %>

<% content_for :sidebar do %>
    <%= render :partial => 'audios',
			:locals => {:episode => @episode} if @episode.episode_audios.length > 0 || user_signed_in? %>
	<% if user_signed_in? %>
	<ul class="nav nav-list">
				  <li class="nav-header"><%= link_to "#{content_tag("i","",:class=>"icon-plus")}Bits to Add".html_safe, new_bit_path %></li>
				<li>
	<%=  render( :partial => 'bits/bits_episode_search_form', :locals => {:bits => @bits}) %>
	</li>
	</ul>
	<% end %>	
	<%= render :partial => 'participants',
			:locals => {:participants => @episode.participants} if @episode.participants.length > 0%>



	<% if true %>
		<ul class="nav nav-list">
		  <li class="nav-header">Episode Archive</li>
			<li><%= link_to "2012", "/episodes/2012/"  %></li>
			<li><%= link_to "2011", "/episodes/2011/"  %></li>
			<li><%= link_to "2010", "/episodes/2010/"  %></li>
			<li><%= link_to "2009", "/episodes/2009/"  %></li>
			<li><%= link_to "2008", "/episodes/2008/"  %></li>
			<li><%= link_to "2007", "/episodes/2007/"  %></li>
			<li><%= link_to "2006", "/episodes/2006/"  %></li>
		</ul>
	<% end %>
<% end %>