<% title "#{@episode.title} - GeekSpeak for #{@episode.airdate.strftime("%Y-%m-%d")}" %>

<h3 class="title"><%=h @episode.title %></h3>
<div class="airdate"><%=h @episode.airdate.strftime("%Y-%m-%d")   %></div>

<div class="span3">
	<%= image_tag @episode.teaser.url(:dem300x600) if @episode.teaser? %>
</div>

<%= textilize(@episode.abstract).html_safe %>

<div class="span5 offset3">  <%= link_to "Edit", edit_admin_episode_path(@episode) if :authenticate_user! %>
</div>

