.bits
	- bits.each do |bit|
		.bit{:id=>"bit_#{bit.id}"}
			%h4
				= link_to_unless bit.url.nil?, bit.title, bit.url, :rel=>"tooltip", :title=> bit.url
				%a.icon-asterisk.icon-white{:href=>"#{user_path(bit.user)}", :rel=>"tooltip", :title=>"Added by #{bit.user.name}",:data=>{:placement=>"right"}}
			- if display_episode
				.metadata
					.user
						=bit.user.name
					- bit.episodes.each do |episode|
						.episode
							= link_to episode.title, episode
					.status
						= bit.status
					.created_at
						= bit.created_at.strftime("%B %e, %Y")
						
			= textilize(bit.body).html_safe unless bit.body.blank? 