<%= simple_form_for @bit, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Bit</legend>

	<%= f.input :title %>	
	<%= f.input :url %>
	<%= f.association :user, :collection => User.all, :priority => [26] %>
	<%= f.input :body %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to_function 'Cancel', "history.back()", :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
