<%= simple_form_for @bit, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Bit</legend>

	<%= f.input :title, :input_html => {:maxlength => 255}%>
	<%= f.input :url, :input_html => {:maxlength => 255}%>
	<%= f.association :user, :collection => User.all, :priority => [26] %>
	<%= f.input :body%>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button' %>
      <%= link_to 'Cancel', "#", onclick: "history.back()", class:'button' %>
    </div>
  </fieldset>
<% end %>
