<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="dH19q4ltuA_ozVtVLgGb4HQ_TZnu4c-ym78NFAb3XSs" />
  <title><%= content_for?(:title) ? h( yield :title) : "GeekSpeak a Podcast with Lyle Troxell" %> <%= content_for?(:subtitle) ? h( "- #{yield :subtitle}")  : ""  %></title>
  <%= stylesheet_link_tag    :application %>
  <%= csrf_meta_tags %>
  <link type="application/rss+xml" rel="alternate"
      title="Geek Speak with Lyle Troxell" href="https://geekspeak.org/episodes/rss.xml"/>

  <% if content_for?(:cononical_url) %>
    <link rel="canonical" href="<%= yield :cononical_url %>" />
  <% end %>
      <meta name="description" itemprop="description"
    content="<%= content_for?(:description) ? h(yield :description) : "A podcast created in Silicon Valley about how technology affects society and culture from the Geek perspective. Airing weekly since 1998." %>" />
  
    <meta property="og:title" content="<%= content_for?(:title) ? h( yield :title) : "GeekSpeak a Podcast with Lyle Troxell" %> <%= content_for?(:subtitle) ? h( "- #{yield :subtitle}")  : ""  %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= content_for?(:image_url) ? h(yield :image_url) : "https://geekspeak.org/images/GeekSpeak_Logo_400x400_09022012.png" %>" />
    <meta property="og:site_name" content="GeekSpeak a Podcast with Lyle Troxell" />
    <meta property="og:description" content="<%= content_for?(:description) ? h(yield :description) : "A podcast created in Silicon Valley about how technology affects society and culture from the Geek perspective. Airing weekly since 1998." %>" />
    <meta property="fb:app_id" content="554405351416299"/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@GeekSpeakTweets" />
    <meta name="twitter:creator" content="@lyle" />
    <meta name="twitter:domain" content="geekspeak.org" />
    <meta name="twitter:title" content="<%= content_for?(:title) ? h( yield :title) : "GeekSpeak a Podcast with Lyle Troxell" %> <%= content_for?(:subtitle) ? h( "- #{yield :subtitle}")  : ""  %>" />
    <meta name="twitter:description" content="<%= content_for?(:description) ? h(yield :description) : "A podcast created in Silicon Valley about how technology affects society and culture from the Geek perspective. Airing weekly since 1998." %>" />
    <meta name="twitter:image" content="<%= content_for?(:image_url) ? h(yield :image_url) : "https://geekspeak.org/images/GeekSpeak_Logo_400x400_09022012.png" %>"/>

</head>
<body class="<%=h "admin" if user_signed_in? %>">
<header>

  <%= render 'layouts/top_navigation' %>
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ul>
  </nav>
  
<% if content_for?(:sharesheet) %>
	<%= yield(:sharesheet)%>
<% end %>

  <% flash.each do |name, msg| %>
      <div class='callout  <%= name == "notice" ? "success" : "warning" %>'>
          <!-- <a class="close" data-dismiss="alert">×</a> -->
          <%= msg %>
      </div>
  <% end %>
</header>

<div class="row">
<% if content_for?(:sidebar) %>
  <main class="small-12 medium-9 columns" id="themaincontentblock" role="main">
    <%= yield %>
  </main>
  <% if user_signed_in? %>
    <div class="small-12 medium-3 columns" data-sticky-container  id="gutter">
     <div id="sticky-gutter" class="sticky" data-sticky data-top-anchor="themaincontentblock" data-margin-top="0">
      <%=yield(:sidebar)%>
      </div>
    </div>
  <%else%>
    <div class="small-12 medium-3 columns" id="gutter">
      <%=yield(:sidebar)%>
    </div>
  <%end%>
<% else %>
  <main class="small-12 small-centered columns" role="main">
    <%= yield %>
  </main>
<% end %>
</div>


<footer>
    <div class="float-right">
      <i>GeekSpeak</i> is a registered service mark of David Lawrence and is used with permission.
    </div>

       
    <div>
          <%= link_to(content_tag(:i, ' login' ,:class=>'fi-unlock'), new_user_session_path) if !user_signed_in? %> 
      &copy; GeekSpeak 1998-<%= Time.now.year %>
    </div>

</footer>
<%= javascript_include_tag "application" %>
</body>
</html>
