<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? h( yield :title) : "GeekSpeak" %> <%= content_for?(:subtitle) ? h( "- #{yield :subtitle}")  : ""  %></title>
  <%= stylesheet_link_tag    :application %>
  <%= csrf_meta_tags %>
</head>
<body class="<%=h "admin" if user_signed_in? %>">
<header>

  <%= render 'layouts/top_navigation' %>
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ul>
  </nav>

  <% flash.each do |name, msg| %>
      <div class='callout  <%= name == "notice" ? "success" : "warning" %>'>
          <!-- <a class="close" data-dismiss="alert">×</a> -->
          <%= msg %>
      </div>
  <% end %>
</header>

<div class="row">
<% if content_for?(:sidebar) %>
  <main class="small-12 medium-9 columns" id="themaincontentblock" role="main">
    <%= yield %>
  </main>
  <% if user_signed_in? %>
    <div class="small-12 medium-3 columns" data-sticky-container  id="gutter">
     <div id="sticky-gutter" class="sticky" data-sticky data-top-anchor="themaincontentblock" data-margin-top="0">
      <%=yield(:sidebar)%>
      </div>
    </div>
  <%else%>
    <div class="small-12 medium-3 columns" id="gutter">
      <%=yield(:sidebar)%>
    </div>
  <%end%>
<% else %>
  <main class="small-12 small-centered columns" role="main">
    <%= yield %>
  </main>
<% end %>
</div>


<footer>
    <div class="float-right">
      <i>GeekSpeak</i> is a registered service mark of David Lawrence and is used with permission.
    </div>

       
    <div>
          <%= link_to(content_tag(:i, ' login' ,:class=>'fi-unlock'), new_user_session_path) if !user_signed_in? %> 
      &copy; GeekSpeak 1998-<%= Time.now.year %>
    </div>

</footer>
<%= javascript_include_tag "application" %>
</body>
</html>
