<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? h( yield :title) : "GeekSpeak, KUSP" %> <%= content_for?(:subtitle) ? h( "- #{yield :subtitle}")  : ""  %></title>
    <meta name="google-site-verification" content="dH19q4ltuA_ozVtVLgGb4HQ_TZnu4c-ym78NFAb3XSs" />
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= user_signed_in? ? stylesheet_link_tag("admin", :media => "all") : "" %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- Le fav and touch icons -->
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body class="<%= params[:controller] %>">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">GeekSpeak</a>

          <div class="container nav-collapse">
            <ul class="nav">
                <li><%= link_to "Episodes", "/episodes"  %></li>
                <li class="dropdown"><a id="blogDrop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledb="blogDrop">
                        <li>
                            <a href="http://blog.geekspeak.org/">GeekSpeak Blog</a>
                        </li>
                        <li>
                            <a href="http://tumblr.com/follow/geekspeak-kusp">Follow</a>
                        </li>
                        <li>
                            <a href="http://blog.geekspeak.org/archive">Archive</a>
                        </li>
                        <li>
                            <a href="http://blog.geekspeak.org/ask">Ask questions...</a>
                        </li>
                    </ul>
                </li>
                <li><%= link_to "Contact Us", "/contact" %></li>
              <% if user_signed_in? %>
                <li class="dropdown"><a id="blogDrop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledb="blogDrop">
                        <li>
                            <%= link_to("New Bit", new_bit_path())%>
                        </li>
                        <li>
                            <%= link_to("New Episode", new_episode_path())%>
                        </li>
                        <li>
                            <%= link_to("Pending Episodes", controller: "episodes", action: "pending") %>
                        </li>
                        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                    </ul>
                </li>
              <% else %>
                  <li class="login">
                  <%= link_to(content_tag(:i, '' ,:class=>'icon-user'), new_user_session_path)  %>  
                  </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <%= render_breadcrumbs %>
        <% flash.each do |name, msg| %>
            <div class='alert alert-<%= name == :notice ? "success" : "error" %>'>
                <a class="close" data-dismiss="alert">×</a>
                <%= msg %>
            </div>
        <% end %>
        <div id="content">
          <div id="main">
            <%= yield %>
          </div>
          <div id="sidebar" class="well sidebar-nav">
              <%= content_for?(:sidebar) ? yield(:sidebar) : render("shared/sidebar") %>
          </div>
          </div>
      </div><!--/content-->
<br style="clear:both">
      <footer>
        <p>&copy; GeekSpeak 1998-<%= Time.now.year %>
        <span class="pull-right"><i>GeekSpeak</i> is a registered service mark of <a href="http://www.thedavidlawrenceshow.com/">The David Lawrence Show</a> and is used with permission.


</span>
</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <!--script type="text/javascript" src="/jplayer/jquery.jplayer.min.js"></script-->
    <%= user_signed_in? ? javascript_include_tag("admin") : "" %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1017259-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
